{% extends 'base.html' %}


{%block style%}
body{
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(" ../../media/images/background.jpg") !important;
		background-position: center !important;
		background-repeat : no-repeat !important;
		background-size : cover !important; 
		background-color : none !important;
		background-attachment : fixed !important;
		overflow-x: hidden !important;
		color : White !important;
	}
	.card{
		margin-top : 15%;
		padding : 20px;
	}
{%endblock%}
{%block content%}
	<div class="container fluid justify-content-center align-items-center">
		<div class="row justify-content-center align-items-center">
		<div class="card align-items-center">
			<p>
    			We've emailed you instructions for setting your password, if an account exists with the email you entered.
    			You should receive them shortly.
  			</p>
  			<p>
    			If you don't receive an email, please make sure you've entered the address you registered with,
    			and check your spam folder.
  			</p>			
		</div>
		</div>
	</div> 
{%endblock%}
