{% extends 'base.html' %}


{%block style%}
body{
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(" ../../media/images/background.jpg") !important;
		background-position: center !important;
		background-repeat : no-repeat !important;
		background-size : cover !important; 
		background-color : none !important;
		background-attachment : fixed !important;
		overflow-x: hidden !important;
		color : White !important;
	}
	.card{
		margin-top : 15%;
		padding : 20px;
	}
{%endblock%}
{%block content%}
	<div class="container fluid justify-content-center align-items-center">
		<div class="row justify-content-center align-items-center">
		<div class="card align-items-center">
		<h2>Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</h2>			
		</div>
		</div>
	</div> 
{%endblock%}

