{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{%block style%}
body{
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(" ../../media/images/background.jpg") !important;
		background-position: center !important;
		background-repeat : no-repeat !important;
		background-size : cover !important; 
		background-color : none !important;
		background-attachment : fixed !important;
		overflow-x: hidden !important;
		color : White !important;
	}
	.card{
		margin-top : 15%;
		padding : 20px;
	}
{%endblock%}
{%block content%}
	<div class="container fluid justify-content-center align-items-center">
		<div class="row justify-content-center align-items-center">
		<div class="card align-items-center">
		<div class="text-center" ><h3>Online Book Finder Password reset</h3></div>
		<form method="post" 
                  action="{% url 'password_reset' %}">
                {% csrf_token %}
		<hr/>
		<p>Enter your email id as we send instructions to reset your password<p>
                {{form.as_p}}
                {% if form.errors %}
                    <p class=" label label-danger">
                        Please enter a valid email
                    </p>
                {% endif %}

                <input type="submit" value="Request Password Reset" 
                       class="btn btn-primary pull-right" />
            </form>	
		</div>
		</div>
	</div> 
{%endblock%}
