

{% extends "base.html" %}
{%block style%}
	.card{
		margin-top : 15%;
		padding : 20px;
	}
{%endblock%}
{%block content%}
	<div class="container fluid justify-content-center align-items-center">
		<div class="row justify-content-center align-items-center">
		<div class="card align-items-center">
			<h1 class="text-center mb-3">Hi {{user.get_username}}</h1>
	<h3>Are you sure to delete your account<h3>
	<a class="btn btn-danger" href="{% url 'users:delete' user.get_username %}">Delete Account</a>
		</div>
		</div>
	</div> 
{%endblock%}
